
<!-- モーダル部分 -->
<div class="modal fade" id="evidence<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="evidenceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidenceLabel">根拠</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <%= form_for item.alpha_evidence, url: alpha_item_alpha_evidence_path(item) do |form| %>
        <% if false %>
          <% if @alpha_evidence.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@alpha_evidence.errors.count, "error") %> prohibited this alpha_evidence from being saved:</h2>
      
              <ul>
              <% @alpha_evidence.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      
      
        <div class="field">
          <%= form.label "根拠" %>
          <%= form.text_area :document, id: :alpha_evidence_document, size: "50x4" %>
        </div>
      
        <div class="field">
          <%= form.check_box :completed, id: :alpha_evidence_completed %>
          <%= form.label "完了" %>
        </div>
      
        <div class="modal-footer">
          <div class="actions">
            <%= form.submit "変更する", class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      <% end %>
      

      </div>
    </div>
  </div>
</div>
<!-- モーダルおわり -->