<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @project.get_framework_dname, project_alpha_alphas_path(@project) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @alpha_alpha.dname, alpha_alpha_alpha_states_path(@alpha_alpha)  %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @alpha_state.dname %>
    </li>
  </div>

  <%= @alpha_item.ddescription %>
</div>

<%= form_with(model: [@alpha_evidence.alpha_item,@alpha_evidence], local: true) do |form| %>
  <% if @alpha_evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alpha_evidence.errors.count, "error") %> prohibited this alpha_evidence from being saved:</h2>

      <ul>
      <% @alpha_evidence.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document, id: :alpha_evidence_document %>
    <%= form.check_box :completed, id: :alpha_evidence_completed,:as => :boolean%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
