<div class="page-header">
  <%= link_to alpha_state_path(@alpha_state), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_alpha_item_alpha_evidence_path(@alpha_evidence), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h3><%= @alpha_evidence.alpha_item.ddescription %></h3>
</div>

<dl class="dl-horizontal">
  <dt>Document:</dt>
  <dd><%= @alpha_evidence.document %></dd>
</dl>

<h4>コメント</h4>

<% if @alpha_evidence.alpha_comments.any? %>
  <div>
    <ul>
    <% @alpha_evidence.alpha_comments.each do |comment| %>
      <li>
        <%= comment.body %>
        <%= link_to '[削除]', alpha_comment_path(comment), method: :delete, class: 'command', date: { confirm: 'sure?' } %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@alpha_item, @alpha_evidence ,@alpha_evidence.alpha_comments.build], local: true) do |form| %>
  <p><%= form.text_field :body %></p>
  <p><%= form.submit %></p>
<% end %>