
<% if @stage == 1 and @alpha_evidence.id == state_evidence.id %>
<div class="card p-1 mt-1 border-dark f-selected" id=card<%= state_evidence.id %>>
<% else %>
<div class="card p-1 mt-1 border-dark" id=card<%= state_evidence.id %>>
<% end %>
    <div class="card-body" id="cardbodyselect">
      <div class="row">
        <div class="col-auto p-0">
          <img src="/assets/level<%= state_evidence.alpha_item.alpha_item_def.item_level %>" alt="" width= "60px" >
        </div>
        <div class="col-7">
          <%= return_tooltip(state_evidence.alpha_item.ddescription).html_safe %>
        </div>
        <div class="col-3 text-center" id=evidence-completed-<%= state_evidence.id %>>
          <%= print_date(state_evidence.alpha_item.completed_at) %>
        </div>
        <div class="col-auto px-0 d-flex align-items-center">
          <%= link_to "根拠", 'javascript:;', class: 'btn btn-primary evidence_button', id: state_evidence.id %>
        </div>
      </div>
    </div>
</div>