<% if @stage == 2 and @alpha_evidence.id == state_evidence.id %>
<div class="card p-1 mt-1 border-dark f-selected" id=card<%= state_evidence.id %>>
<% else %>
<div class="card p-1 mt-1 border-dark" id=card<%= state_evidence.id %>>
<% end %>
    <div class="card-body" id="cardbodyselect">
      <div class="row">
        <div class="col-auto" id=icon<%= state_evidence.id %>>
          <% if state_evidence.completed %>
            <%= icon("far fa-lg","check-square") %>
          <% else %>
            <%= icon("far fa-lg","square") %>
          <% end %>
        </div>
        <div class="col-7">
          (<%= state_evidence.alpha_item.alpha_item_def.item_level %>)<%= state_evidence.alpha_item.ddescription %>
        </div>
        <div class="col-3 text-center" id=evidence-completed-<%= state_evidence.id %>>
          <%= print_date(state_evidence.alpha_item.completed_at) %>
        </div>
        <div class="col-auto px-0 d-flex align-items-center">
          <%= link_to "根拠", 'javascript:;', class: 'btn btn-primary evidence_button', id: state_evidence.id %>
        </div>
      </div>
    </div>
</div>