<div class="page-header">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <%= link_to @project.get_framework_dname, project_alpha_alphas_path(@project) %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= @alpha_alpha.dname %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              チェックリスト
            </li>
            <li class="ml-auto">
              <h5 class="mb-0">
                Level:<%= @version_list.max %>
              </h5>
            </li>
          </ol>
          
      </nav>
</div>

<!-- 状態のボタン -->
<div class="row pl-2">
  <% @alpha_alpha.alpha_states.each_with_index do |alpha_state, index| %>
    <div class="col-2">
      <% if (index+1)%5 == params[:id].to_i%5 %>
        <%= link_to alpha_state.dname, alpha_state_path(alpha_state), class: 'btn btn-primary btn-block state_button' %>
      <% else %>
        <%= link_to alpha_state.dname, alpha_state_path(alpha_state), class: 'btn btn-outline-primary btn-block state_button' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row pt-3 pl-4">
  <div class="col-6">
    <h3>未完了</h3>
    <div id="form_completed">
      <%= render partial: "alpha_items/form", collection: @alpha_state.alpha_evidences.where(completed: false), as: :state_evidence %>
    </div>

    <h3 class="pt-1">完了済</h3>
    <div id="form_checked">
      <%= render partial: "alpha_items/checked", collection: @alpha_state.alpha_evidences.where(completed: true).where(reviewed: false), as: :state_evidence %>
    </div>
  
    <h3 class="pt-1">未確認</h3>
    <div id="form_review">
      <%= render partial: "alpha_items/review", collection: @alpha_state.alpha_evidences.where(completed: true).where(reviewed: false), as: :state_evidence %>
    </div>

    <h3 class="pt-1">確認済</h3>
    <div id="form_reviewed">
      <%= render partial: "alpha_items/reviewed", collection: @alpha_state.alpha_evidences.where(reviewed: true), as: :state_evidence %>   
    </div>
  </div>
  <div class="col-6" id="ajax_evidence">
    <%= render partial: "alpha_evidences/form" %> 
  </div>
</div>
