<div class="container-fluid m-2">
  <div class="row justify-content-md-center">
    <div class="card bg-primary text-dark">
        <div class="card-body">
          <%= bootstrap_form_for(@user, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <%= render 'shared/error_messages' %>

          <h2>新規アカウント作成</h2>

          <%= f.text_field :name, label: 'ユーザ名', placeholder: 'example' %>

          <%= f.email_field :email, label: 'メールアドレス', placeholder: "example@company.com" %>

          <%= f.password_field :password, label: 'パスワード', placeholder: "Password" %>

          <%= f.password_field :password_confirmation, label: 'パスワード(確認用)', placeholder: "Password(Confirmation)" %>

          <div class="btn-group d-flex mx-auto mb-3">
            <%= f.submit moderate_new_edit_button_label(), class: "btn btn-lg btn-block btn-primary mt-2" %>

            <%= link_to "キャンセル", root_path, class: 'mt-5 text-white' %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>