<% provide(:title, @user.name) %>

<div class="container-fulid pt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card p-4 bg-info text-dark">
        <div class="card-body">
          <section class="user_info">
            <%= form_for(:user, :html => {:class => 'list-group container-fulid'} ) do |f| %>
            <h2>ユーザ情報</h2>
            <h3 class='text-center'>
              <%= gravatar_for @user %>
            </h3> 
            <%= f.label :name, "ユーザ名" %>
            <%= f.text_field :name, class: 'list-group-item', :readonly => true %>

            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: 'list-group-item', :readonly => true %>

            <%= f.label :description, "自己紹介" %>
            <%= f.text_area :description, class: 'list-group-item', :readonly => true, :cols => '40', :rows => '3' %>

            <%= f.label :point, "ポイント" %>
            <div class="list-group-item">
              <h4>
                <span class="badge badge-primary">
                  総合ポイント <span class="badge badge-light"><%= @user.points_total %></span>
                </span>
                <span class="badge badge-primary">
                いいね数 <span class="badge badge-light"><%= @user.total_like %></span>
                </span>
                <span class="badge badge-primary">
                コメント数 <span class="badge badge-light"><%= @user.total_comment %></span>
                </span>
              <span class="badge badge-primary">
                ログイン日数 <span class="badge badge-light"><%= @user.login_count %></span>
                </span>
              </h4>
            </div>
            
            <%= f.label :badge, "獲得ポイントバッヂ" %>
            <div class="list-group-item">
            <div>次回バッヂ獲得まで　<%= next_point_badge(@user) %>　ポイント必要です。</div>
            <hr class="m-1">
              <% if @user.badges.empty? == true %>
                <div>まだ獲得していません</div>
              <% else %>
                <div class="row">
                  <% @user.badges.each do |badge| %>
                    <div class="col-2 text-center">
                    <div><img src="/assets/<%= badge.image %>" alt="" width= "60px"> </div>
                    <div class="badge badge-pill badge-primary"><%= badge.name %></div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>

            <%= f.label :badge, "獲得実績バッヂ" %>
            <div class="list-group-item">
              <% if @user.condition_badges.empty? == true %>
                <div>まだ獲得していません</div>
              <% else %>
                <div class="row">
                  <% @user.condition_badges.each do |condition_badge| %>
                    <div class="col-2 text-center">
                      <div><img src="/assets/<%= condition_badge.image %>" alt="" width= "60px"></div>
                      <div class="badge badge-pill badge-primary"><%= condition_badge.name %></div>
                    </div>
                  <% end %> 
                </div>
              <% end %>     
            </div>

            <%= f.label :last_login_date, "ログイン日時" %>
            <div class="list-group-item">
              <span><%= @user.last_login_date.strftime("%Y/%m/%d %H:%M:%S") %></span>
            </div>

            <% end %>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fulid">
        <h2 class="mt-2">ユーザ情報変更</h2>
        <p>・<%= link_to "ユーザ情報を変更する", edit_user_path(current_user) %></p>
        <p>・<%= link_to "パスワードを変更する", edit_password_path(current_user) %></P>
      </div>
    </div>
  </div>
</div>