<%= bootstrap_form_for(@sprint, url: moderate_new_edit_path(@version, @sprint), html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @sprint.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h4>

    <ul>
    <% @sprint.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <!-- <div class="form-group">
    <%= f.label :no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :no, class: "form-control" %>
    </div>
  </div> -->
  <%= f.hidden_field :no, :value => get_sprintno %>
  <%= f.hidden_field :project_id, :value => get_project %>

  <%= f.date_field :start, label: "開始日" %>
  <%= f.date_field :end, label: "終了日" %>
  <%= f.text_area :description, label: "スプリントゴール", :rows => '3' %>

  <%= f.submit moderate_new_edit_button_label(), class: "btn btn-primary" %>

  <%= link_to 'キャンセル', project_sprints_path(@version.project), class: "btn btn-primary"  %>

  <% end %>
