<div class="navbar navbar-expand shadow-sm">
  <ul class="nav">
    <li class="h4 navbar-text"><b>スプリント</b></li>
  </ul>
  <ul class="nav ml-auto">
    <li class="nav-item">
      <%= link_to project_sprints_path(@sprint.project), class: 'nav-link' do %>
        <%= icon("fas","list") %>
        スプリント一覧
      <% end %>
    </li>
  </ul>
</div>

<div class="container-fluid mt-4">

<dl class="dl-horizontal">
  <dt>No:</dt>
  <dd>第<%= @sprint.no %>スプリント</dd>
  <dt>開始日:</dt>
  <dd><%= @sprint.start.to_s(:default) %></dd>

  <dt>終了日:</dt>
  <dd><%= @sprint.end.to_s(:default) %></dd>

  <dt>スプリントゴール:</dt>
  <dd><%= @sprint.description %></dd>

  <dt>関連プロジェクト:</dt>
  <dd><%= @sprint.project.name %></dd>

</dl>
</div>
