<%= bootstrap_form_for([@project, @version], html: { class: "form-horizontal ml-3 col-6", role: "form" }) do |form| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= form.text_field :name, id: :version_name %>
</div>

<div class="field">
    <%= form.text_area :goal, id: :version_goal %>
</div>

<div class="field">
    <%= form.date_field :start, id: :version_starte %>
</div>

<div class="field">
    <%= form.number_field :length, id: :length_end,min:0 %>
</div>

<div class="field">
    <%= form.number_field :level, id: :version_level,min:1,max:5 %>
</div>

<div class="field">
    <%= form.hidden_field :project_id, id: :version_project_id %>
</div>

<div class="actions">
    <%= form.submit class: "btn btn-primary" %>
</div>
<% end %>