<div class="page-header">

  <%= link_to sbl_path(@backlog_item.sprint.id), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  SBL一覧へ
  <% end %>
  <%= link_to edit_sbl_path(@backlog_item), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  SBL編集
  <% end %>
  <%= link_to show_pbl_path(@backlog_item.backlog_item_id), class: 'btn btn-primary' do %>
  PBL詳細へ
  <% end %>

  <h1>スプリントバックログ項目の詳細</h1>
</div>
<div class="container-fluid">
<dl class="row">

  <dt class="col-2">項目番号:</dt>
  <dd class="col-9"><%= @backlog_item.no %></dd>

  <dt class="col-2">スプリント:</dt>
  <% if @backlog_item.sprint == nil %> 
  <dd class="col-9">未選択</dd>
  <% else %>
  <dd class="col-9">第<%= @backlog_item.sprint.no %>スプリント</dd>
  <% end %>

  <dt class="col-2">担当者:</dt>
  <% if @assign == nil %> 
  <dd class="col-9">未選択</dd>
  <% else %>
  <dd class="col-9"><%= @assign.name %></dd>
  <% end %>
  
  <dt class="col-2">開発タイプ:</dt>
  <dd class="col-9"><%= @backlog_item.dev_type %></dd>

  <dt class="col-2">状態:</dt>
  <dd class="col-9"><%= BacklogItem::BACKLOG_ITEM_ROLS[@backlog_item.state] %></dd>

  <dt class="col-2">見積り:</dt>
  <dd class="col-9"><%= @backlog_item.estimate %></dd>

  <dt class="col-2">開始日:</dt>
  <dd class="col-9"><%= @backlog_item.started_at %></dd>

  <dt class="col-2">終了日:</dt>
  <dd class="col-9"><%= @backlog_item.ended_at %></dd>

  <dt class="col-2">内容:</dt>
  <dd class="col-9"><%= @backlog_item.description %></dd>

  <dt class="col-2">備考:</dt>
  <dd class="col-9"><%= @backlog_item.supplement %></dd>

  <% if @backlog_item.backlog_item_id != nil %>
  <dt class="col-2">関連PBL:</dt>
  <dd class="col-9"><%= @pbl.description  %></dd>

  <dt class="col-2">作成者:</dt>
  <dd class="col-9"><%= @author.name %></dd>

  <dt class="col-2">作成日:</dt>
  <dd class="col-9"><%= @backlog_item.created_at.to_s(:published_on) %></dd>
  <% end %>
</dl>
</div>
