 
<div class="page-header">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <%= @project.get_framework_dname %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      アルファ
    </li>
  </ol>
</nav>
</div>

<div class="row px-5">
<div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP1 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
<div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP2 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
<div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP3 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
<div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP4 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
<div class="col-md-2"><div class="text-center"><h3>STEP5 <%= icon("fas","flag-checkered") %></h3></div></div>
</div>


<%= content_tag_for(:tr, @alpha_alphas) do |alpha_alpha| %>
  <div class="row px-5 py-1">
    <%= content_tag_for(:td, alpha_alpha.alpha_states) do |alpha_state| %>
      <div class="col-md-2 border-right border-dark">
        <% if alpha_state.progress_rate < 1 %>
          <div class="card text-center border-dark shadow rounded">
        <% else %>
          <div class="card text-center border-dark completed-color shadow rounded">
        <% end %>
        <div class="card-header border-dark">
          <%= alpha_alpha.dname %>
          <% if alpha_state.progress_rate < 1 %>
            <%= alpha_state.completed_items %>/<%= alpha_state.alpha_items.size %>
          <% else %>
            <%= alpha_state.completed_items %>/<%= alpha_state.alpha_items.size %><i class="far fa-check-circle"></i>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= link_to alpha_state.dname,  alpha_state_path(alpha_state), class: 'btn btn-primary btn-block' %>
          </p>
          <div>進捗状況</div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated pg-primary " role="progressbar" style="width: <%= format("%d", alpha_state.progress_rate * 100) %>%;">
                <%= format("%d", alpha_state.progress_rate * 100) %>%
              </div>
            </div>
            <%= get_update(alpha_state) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
