<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="d-flex flex-column h-100">

    <%= render 'layouts/header' %>

    <div class="container-fluid ">
      <div class="row">
        <% if current_project && controller.controller_name != "ProjectsController" %>
          <nav  class="col-md-2 sidebar px-0 d-none d-md-block text-white bg-dark" id="sidebar">
            <%= render 'layouts/sidebar' %>
          </nav>

          <main class="col-md-9 ml-sm-auto col-lg-10 px-0" role="main">
            <div class="container-fluid">
              <%= yield %>
            </div>

            <div class="container-fluid px-0">
              
              <%= render 'layouts/footer' %>
              
              <% if Rails.env.development? %>
                <div class="container container my-3">
                  <%= debug(params) %>
                </div>
              <% end %>
              </div>
          </main>
        <% else %>
          <main class="container-fluid p-0" role="main">
            <%= yield %>

            <div class="container-fluid px-0">
              <%= render 'layouts/footer' %>

              <% if Rails.env.development? %>
                <div class="container container my-3">
                  <%= debug(params) %>
                </div>
              <% end %>
            </div>
          </main>
        <% end %>

      </div>
    </div>
  </body>
</html>
